<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="img/fav.png">
	<meta name="author" content="colorlib">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<title>Rut::Web</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/linearicons.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/nice-select.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/animate.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/jquery-ui.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}">
	</head>
	<body>
		  <header id="header">
			<div class="header-top">
			</div>
			<div class="container main-menu">
				<div class="row align-items-center justify-content-between d-flex">
					<a href="index.html"><img src="{{ url_for('static',filename='assets/img/logo.png') }}" alt="" title="" style="width: 50px;height: 25px;"></a>
					<nav id="nav-menu-container">
						<ul class="nav-menu">
						  <li class="menu-active"><a href="index.html">Home</a></li>
						<!--
						  <li><a href="about.html">About</a></li>
						  <li><a href="service.html">Services</a></li>
						  <li><a href="gallery.html">Gallery</a></li>
						  <li class="menu-has-children"><a href="">Blog</a>
							<ul>
							  <li><a href="blog-home.html">Blog Home</a></li>
							  <li><a href="blog-single.html">Blog Single</a></li>
							  <li class="menu-has-children"><a href="">Level 2</a>
								<ul>
								  <li><a href="#">Item One</a></li>
								  <li><a href="#">Item Two</a></li>
								</ul>
							  </li>
							</ul>
						  </li>
						  <li><a href="elements.html">Elements</a></li>
						  <li><a href="contact.html">Contact</a></li>
						-->
						</ul>
					</nav><!-- #nav-menu-container -->
				</div>
			</div>
		  </header><!-- #header -->

		<!-- start banner Area -->
		<section class="banner-area relative" id="home">
			<div class="overlay overlay-bg"></div>
			<div class="container">

				<div class="row fullscreen d-flex align-items-center justify-content-between">
					<div class="banner-content col-lg-6 col-md-6 ">
						<h6 class="text-white ">Instala nuestra aplicación</h6>
<!-- 							<h1 class="text-uppercase">
							911 999 911
						</h1> -->
						<center>
							<p id="respuesta"></p>
						</center>
						<p class="pt-10 pb-10 text-white">
							Disfruta de la mejor aplicación de viajes, rápida y segura para tí.
						</p>
						<!-- <a href="#" class="primary-btn text-uppercase">Call for taxi</a> -->
						<ul >
							<li style="display: inline-block;"><img src="{{ url_for('static',filename='assets/img/appstore.png') }}" style="width: 200px;height: 80px;margin-right: 50px;"></li>
							<li style="display: inline-block;position: absolute;"><img src="{{ url_for('static',filename='assets/img/btn_android.png') }}" style="width: 200px;height: 80px;"></li>
						</ul>

					</div>
					<div class="col-lg-4  col-md-6 header-right" style="margin-top: 10px;">
						<h4 class="pb-30" style="color:white;">Registrate como conductor</h4>
						<form class="form" method="post" id="login">
							<div class="from-group">
								<input class="form-control txt-field" type="text" name="inputName" placeholder="Nombre completo"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre completo'">
								<input class="form-control txt-field" type="email" name="inputEmail" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
								<input class="form-control txt-field" type="password" name="inputPassword" placeholder="Contraseña"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'">
								<input class="form-control txt-field" type="tel" name="inputTelefono" placeholder="Teléfono" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Teléfono'">
							</div>
							<div class="form-group">
								<div class="input-group dates-wrap">
									<input id="inputFechaNacimiento" class="dates form-control" name="inputFechaNacimiento" placeholder="Fecha de nacimiento" type="text">
									<div class="input-group-prepend">
										<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-default btn-lg btn-block text-center text-uppercase" id="btnSignUp">Aplicar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- End banner Area -->

		<!-- Start home-about Area -->
		<section class="home-about-area section-gap">
			<div class="container">
			<!--
				<div class="row align-items-center">
					<div class="col-lg-6 about-left">
						<img class="img-fluid" src="img/about-img.jpg" alt="">
					</div>
					<div class="col-lg-6 about-right">
						<h1>Globally Connected
						by Large Network</h1>
						<h4>We are here to listen from you deliver exellence</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						</p>
						<a class="text-uppercase btn-rut" href="#">Get Details</a>
					</div>
				</div>
			-->
			</div>
		</section>
		<!-- End home-about Area -->

		<!-- Start services Area -->
		<section class="services-area pb-120">
			<div class="container">
				<div class="row section-title">
					<h1>What Services we offer to our clients</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 single-service">
						<span class="lnr lnr-car"></span>
						<a href="#"><h4 style="color:#FFF">Taxi Service</h4></a>
						<p style="color:#FFF">
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
					<div class="col-lg-4 single-service">
						<span class="lnr lnr-briefcase"></span>
						<a href="#"><h4 style="color:#FFF">Office Pick-ups</h4></a>
						<p style="color:#FFF">
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
					<div class="col-lg-4 single-service">
						<span class="lnr lnr-bus"></span>
						<a href="#"><h4 style="color:#FFF">Event Transportation</h4></a>
						<p style="color:#FFF">
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End services Area -->

		<!-- Start image-gallery Area -->
		<section class="image-gallery-area section-gap-contenedor">
			<div class="container">
				<div class="row section-title">
					<h1>Image Gallery that we like to share</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 single-gallery">
						<a href="{{ url_for('static',filename='assets/img/g1.jpg') }}" class="img-gal"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/g1.jpg') }}" alt=""></a>
						<a href="{{ url_for('static',filename='assets/img/g4.jpg') }}" class="img-gal"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/g4.jpg') }}" alt=""></a>
					</div>
					<div class="col-lg-4 single-gallery">
						<a href="{{ url_for('static',filename='assets/img/g2.jpg') }}" class="img-gal"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/g2.jpg') }}" alt=""></a>
						<a href="{{ url_for('static',filename='assets/img/g5.jpg') }}" class="img-gal"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/g5.jpg') }}" alt=""></a>
					</div>
					<div class="col-lg-4 single-gallery">
						<a href="{{ url_for('static',filename='assets/img/g3.jpg') }}" class="img-gal"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/g3.jpg') }}" alt=""></a>
						<a href="{{ url_for('static',filename='assets/img/g6.jpg') }}" class="img-gal"><img class="img-fluid" src="{{ url_for('static',filename='assets/img/g6.jpg') }}" alt=""></a>
					</div>
				</div>
			</div>
		</section>
		<!-- End image-gallery Area -->

		<!-- Start reviews Area -->
		<section class="reviews-area section-gap-contenedor">
			<div class="container">
				<div class="row section-title">
					<h1>Client’s Reviews</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<h4 style="color:#FFF">Cody Hines</h4>
							<p>
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
							</p>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<h4 style="color:#FFF">Chad Herrera</h4>
							<p>
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
							</p>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<h4 style="color:#FFF">Andre Gonzalez</h4>
							<p>
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
							</p>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<h4 style="color:#FFF">Jon Banks</h4>
							<p>
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
							</p>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<h4 style="color:#FFF">Landon Houston</h4>
							<p>
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
							</p>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<h4 style="color:#FFF">Nelle Wade</h4>
							<p>
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
							</p>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End reviews Area -->

		<!-- Start home-calltoaction Area -->
		<section class="home-calltoaction-area relative">
			<div class="container">
				<div class="overlay overlay-bg"></div>
				<div class="row align-items-center section-gap-contenedor">
					<div class="col-lg-8">
						<h1>Experience Great Support</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
						</p>
					</div>
					<div class="col-lg-4 btn-left">
						<a href="#" class="primary-btn">Reach Our Support Team</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End home-calltoaction Area -->

		<!-- Start latest-blog Area -->
		<section class="latest-blog-area section-gap-contenedor">
			<div class="container">
				<div class="row section-title">
					<h1>Latest News from our Blog</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="single-latest-blog">
							<div class="thumb">
								<img class="img-fluid" src="{{ url_for('static',filename='assets/img/b1.jpg') }}" alt="">
							</div>
							<ul class="tags">
								<li><a href="#">Travel</a></li>
								<li><a href="#">Life Style</a></li>
							</ul>
							<a href="#">
								<h4>Portable latest Fashion for young women</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
							</p>
							<p class="date">31st January, 2018</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-latest-blog">
							<div class="thumb">
								<img class="img-fluid" src="{{ url_for('static',filename='assets/img/b2.jpg') }}" alt="">
							</div>
							<ul class="tags">
								<li><a href="#">Travel</a></li>
								<li><a href="#">Life Style</a></li>
							</ul>
							<a href="#">
								<h4>Portable latest Fashion for young women</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
							</p>
							<p class="date">31st January, 2018</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End latest-blog Area -->

		<!-- start footer Area -->
		<footer class="footer-area section-gap-contenedor">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Quick links</h6>
							<ul>
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Brand Assets</a></li>
								<li><a href="#">Investor Relations</a></li>
								<li><a href="#">Terms of Service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Features</h6>
							<ul>
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Brand Assets</a></li>
								<li><a href="#">Investor Relations</a></li>
								<li><a href="#">Terms of Service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Resources</h6>
							<ul>
								<li><a href="#">Guides</a></li>
								<li><a href="#">Research</a></li>
								<li><a href="#">Experts</a></li>
								<li><a href="#">Agencies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
						<div class="single-footer-widget">
							<h6>Follow Us</h6>
							<p>Let us be social</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Newsletter</h6>
							<p>Stay update with our latest</p>
							<div class="" id="mc_embed_signup">
								<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
										<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>

									<div class="info"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <img class="footer-bottom" src="img/linea-fondo.png" alt="" style="background-size: contain;background-repeat: repeat-x;height: 20px;"> -->
			<div class="footer-bottom">

			</div>
		</footer>
		<!-- End footer Area -->

		<script src="{{ url_for('static',filename='assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="{{ url_for('static',filename='assets/js/vendor/bootstrap.min.js') }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script src="{{ url_for('static',filename='assets/js/easing.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/hoverIntent.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/superfish.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery.ajaxchimp.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery-ui.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery.nice-select.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/mail-script.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
			$("#login").on("submit", function(e) {
			  e.preventDefault();
			  loginAndRedirect();
			});
            $('#inputFechaNacimiento').datepicker({format: 'yyyy-mm-dd'});

            function loginAndRedirect(){
                alert('Procesando información, por favor espere.');
                $.ajax({
                    url: '/signUp',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log('Respuesta: '+response);
                        if( response === '0' )
                          $('#respuesta').html('Error en registro, verifique los campos');
                        else
                          $('#respuesta').html('Registro exitoso :D');
                    },
                    error: function(error) {
                        $('#respuesta').val('Hubo un error en el registro, intente nuevamente más tarde.');
                        console.log(error);
                    }
                });
            }
        });

    </script>

	</body>
</html>